<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>YTGallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/css/mdb.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/flexslider.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">


</head>
<body>
<nav class="navbar navbar-dark ">
    <!--<a class="navbar-brand" href="/">-->
        <!--<div class="logo">YTGallery</div>-->
    <!--</a>-->
    <a  class="float-right" href="/"><img src="/img/logo.png" height="55px"></a>
</nav>

<div style="height: 10vh">
</div>
<div >
    <div class="text-center ">
        <h1 class="animated fadeIn mb-4 font-weight-bold shadow-sm"><%=videos[0].owner%> Videos</h1>

    </div>

</div>
<div>
    <label class="font-weight-bold">SORT BY</label>
    <select>
        <option value="0">---</option>
        <option value="1">Release date (oldest)</option>
        <option value="2">Release date (newset)</option>
        <option value="3">Most Likes</option>
        <option value="4">Least Likes</option>
        <option value="5">Most Dislikes</option>
        <option value="6">Least Dislikes</option>
        <option value="7">Most Views</option>
        <option value="8">Least Views</option>
    </select>
    <input id="currentchannelId" type="hidden" value="<%= channelId %>">
</div>

<div class="row content ">
    <div class="col-md-1 " ></div>
    <div class="col-md-10 ">

        <% for(var i=0;i<videos.length;i++){
            var left = videos[i];
            var mid = videos[i+1];
            var right = videos[i+2];
            i=i+2;
        %>
        <div class="row" style="">
            <div class="col-md-4 event-item" >
                <%if(left != undefined){%>
                <div class="main card">
                    <div class="holder">
                        <iframe allowfullscreen  src="https://www.youtube.com/embed/<%=left.url.substr(left.url.length-11)%>">
                        </iframe>
                        <div class="bar">
                            <span ><%=left.likes%><i class="fa fa-thumbs-o-up fa-1x white-text pr-3"></i></span>
                            <span ><%=left.dislikes%><i class="fa fa-thumbs-o-down fa-1x  white-text pr-3"></i></span>
                            <span ><%=left.comments%><i class="fa fa-comment-o white-text fa-1x  pr-3"></i></span>
                            <span ><%=left.views%><i class="fa fa-eye white-text fa-1x  pr-3"></i></span>
                        </div>
                    </div>
                </div>
                <%}%>
            </div>
            <div class="col-md-4 event-item " >
                <%if(mid !== undefined){%>
                <div class="main card">
                    <div class="holder">
                        <iframe allowfullscreen  src="https://www.youtube.com/embed/<%=mid.url.substr(mid.url.length-11)%>">
                        </iframe>
                        <div class="bar">
                            <span ><%=mid.likes%><i class="fa fa-thumbs-o-up fa-1x white-text pr-3"></i></span>
                            <span ><%=mid.dislikes%><i class="fa fa-thumbs-o-down fa-1x  white-text pr-3"></i></span>
                            <span ><%=mid.comments%><i class="fa fa-comment-o white-text fa-1x  pr-3"></i></span>
                            <span ><%=mid.views%><i class="fa fa-eye white-text fa-1x  pr-3"></i></span>
                        </div>
                    </div>
                </div>
                <%}%>
            </div>
            <div class="col-md-4 event-item " >
                <%if(right != undefined){%>
                <div class="main card">
                    <div class="holder">
                        <iframe  allowfullscreen  src="https://www.youtube.com/embed/<%=right.url.substr(right.url.length-11)%>">
                        </iframe>
                        <div class="bar">
                            <span ><%=right.likes%><i class="fa fa-thumbs-o-up fa-1x white-text pr-3"></i></span>
                            <span ><%=right.dislikes%><i class="fa fa-thumbs-o-down fa-1x  white-text pr-3"></i></span>
                            <span ><%=right.comments%><i class="fa fa-comment-o white-text fa-1x  pr-3"></i></span>
                            <span ><%=right.views%><i class="fa fa-eye white-text fa-1x  pr-3"></i></span>
                        </div>
                    </div>
                </div>
                <%}%>
            </div>
        </div>

        <%}%>
    </div>
    <div class="col-md-1 "></div>
</div>



<div style="height: 10vh">
</div>
<!-- Footer -->
<footer class="page-footer font-small ">

    <!-- Copyright -->
    <div class="text-center py-3">© 2018 Copyright:
        <a href="/">  ytgallery.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/js/mdb.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/jquery.flexslider-min.js"></script>

<script>
    $(window).bind("load", function() {
        // $('body').removeClass('preloader');
    });

    $(document).ready(function (e) {

        var currentchannelId = $("#currentchannelId").val();


        $('select').on('change', function() {
            if(this.value>0){

                $.ajax({

                    'url':'/getChannelVideo',
                    'method':'POST',
                    dataType: 'JSON',
                    data: {
                        sort : this.value,
                        channelId: currentchannelId
                    },
                    success: function (data) {

                        var videos = data;
                        var sortedContentDom = ``;
                        for(var i=0;i<videos.length;i++){
                            var left = videos[i];
                            var mid = videos[i+1];
                            var right = videos[i+2];
                            i=i+2;

                            sortedContentDom +=
                                `<div class="row" style="">
                                    <div class="col-md-4 event-item " >`;

                            if(left != undefined){
                                sortedContentDom += `<div class="main card">
                    <div class="holder">
                        <iframe allowfullscreen  src="https://www.youtube.com/embed/${left.url.substr(left.url.length-11)}">
                        </iframe>
                        <div class="bar">
                            <span >${left.likes}<i class="fa fa-thumbs-o-up fa-1x white-text pr-3"></i></span>
                            <span >${left.dislikes}<i class="fa fa-thumbs-o-down fa-1x  white-text pr-3"></i></span>
                            <span >${left.comments}<i class="fa fa-comment-o white-text fa-1x  pr-3"></i></span>
                            <span >${left.views}<i class="fa fa-eye white-text fa-1x  pr-3"></i></span>
                        </div>
                    </div>
                </div>`;
                            }

                            sortedContentDom += `</div>
                                                <div class="col-md-4 event-item " >`;


                            if(mid !== undefined){
                                sortedContentDom += `

                                <div class="main card">
                                    <div class="holder">
                                        <iframe  allowfullscreen  src="https://www.youtube.com/embed/${mid.url.substr(mid.url.length-11)}">
                                        </iframe>
                                        <div class="bar">
                                            <span >${mid.likes}<i class="fa fa-thumbs-o-up fa-1x white-text pr-3"></i></span>
                                            <span >${mid.dislikes}<i class="fa fa-thumbs-o-down fa-1x  white-text pr-3"></i></span>
                                            <span >${mid.comments}<i class="fa fa-comment-o white-text fa-1x  pr-3"></i></span>
                                            <span >${mid.views}<i class="fa fa-eye white-text fa-1x  pr-3"></i></span>
                                        </div>
                                    </div>
                                </div>
                                `;
                            }

                            sortedContentDom += `</div>
                                                <div class="col-md-4 event-item " >`;

                            if(right != undefined){
                                sortedContentDom += `

                                 <div class="main card">
                                    <div class="holder">
                                        <iframe  allowfullscreen  src="https://www.youtube.com/embed/${right.url.substr(right.url.length-11)}">
                                        </iframe>
                                        <div class="bar">
                                            <span >${right.likes}<i class="fa fa-thumbs-o-up fa-1x white-text pr-3"></i></span>
                                            <span >${right.dislikes}<i class="fa fa-thumbs-o-down fa-1x  white-text pr-3"></i></span>
                                            <span >${right.comments}<i class="fa fa-comment-o white-text fa-1x  pr-3"></i></span>
                                            <span >${right.views}<i class="fa fa-eye white-text fa-1x  pr-3"></i></span>
                                        </div>
                                    </div>
                                </div>

                `;
                            }

                            sortedContentDom += `</div></div>`;




                        } // end of for loop

                        $(".col-md-10").html(sortedContentDom);








                    },
                    error: function(xhr){

                    }
                });

            }


        });

    });
</script>
<style>
    .preloader {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        overflow: visible;
        background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center;
    }

    .content {
        margin: 10px;
        text-align:center;
    }

    .event-item > iframe {
        width: 246px;
        height: 184.5px;
    }
    .main{
        position: relative;
        /*box-shadow: 5px 5px 5px 5px rgba(0,0,0,.75);*/
        border-radius: 12px;
        /*rgba(235,68,93,.75)*/

    }
    .holder{
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        border-radius: 12px;
    }
    iframe{
        border: 1px grey;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
    .bar{
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        height:30px;
        opacity: 1.15;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%, rgba(235,68,93,.75) 100%);
        color: white;
        font-size: 12px;
        font-weight: bolder;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }

</style>
</body>