<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>YTGallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/css/mdb.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/flexslider.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">


</head>
<body>
    <div class="yt-navbar">
        <nav class="navbar navbar-expand-lg fixed-top">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#yt-header-navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="yt-header-navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/contactus">اتصل بنا</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search">البحث</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/network">الرئيسية</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand" href="/">الكرييتڤ<span>متحف الاعلانات</span><img src="/img/logo.png" /></a>
        </nav>
    </div>
    <div class="container-fluid yt-content">
        <% for(var i=0; i < allEvents.length; i++) { %>
            <div class="yt-event-row">
                <h3><a href="/event/<%=allEvents[i]._id %>"><%= allEvents[i].eventName %>-<%= allEvents[i].year %></a></h3>
                <div class="yt-event-videos">
                    <div class="flexslider carousel">
                        <ul class="slides">
                            <!--Render video in Event-->
                            <%
                                var tempEventId = allEvents[i]._id;
                                var eventVideos = videoMap[tempEventId];
                            if(eventVideos != undefined && eventVideos.length !=undefined){
                            for(var j=0; j < eventVideos.length; j++) {
                            %>
                                <li>
                                    <div class="yt-card" style="background-image: url(https://img.youtube.com/vi/<%= eventVideos[j].url.substr(eventVideos[j].url.length-11) %>/0.jpg)">
                                        <div class="yt-card_top">
                                            <p class="pull-left"><%=eventVideos[j].addedDate.getDate()%>/<%=eventVideos[j].addedDate.getMonth() + 1%>/<%=eventVideos[j].addedDate.getFullYear()%></p>
                                            <p><%=eventVideos[j].title%></p>
                                        </div>
                                        <div class="yt-card_bottom">
                                            <p class="text-right">
                                                <a href="/channel/<%=eventVideos[j].channelId%>">
                                                    <%=eventVideos[j].owner%>
                                                    <i class="yt-icon yt-icon-user_white"></i>
                                                </a>
                                            </p>
                                            <p>
                                                <span>
                                                    <i class="yt-icon yt-icon-like_white"></i>
                                                    <%=eventVideos[j].likes%>
                                                </span>
                                                <span>
                                                    <i class="yt-icon yt-icon-dislike_white"></i>
                                                    <%=eventVideos[j].dislikes%>
                                                </span>
                                                <span>
                                                    <i class="yt-icon yt-icon-comment_white"></i>
                                                    <%=eventVideos[j].comments%>
                                                </span>
                                                <span>
                                                    <i class="yt-icon yt-icon-view_white"></i>
                                                    <%=eventVideos[j].views%>
                                                </span>
                                            </p>
                                        </div>
                                        <a class="yt-card_play" data-src="https://www.youtube.com/embed/<%= eventVideos[j].videoId%>?autoplay=1">
                                        </a>
                                    </div>
                                </li>
                            <% }} %>
                        </ul>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    <footer>© 2018 - AL Creative All rights reserved</footer>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/jquery.flexslider-min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/js/mdb.min.js"></script>

<script>
    $(document).ready(function() {
        $('.flexslider').flexslider({
            animation: "slide",
            animationLoop: false,
            controlNav: false,
            directionNav: true,
            itemWidth: 210,
            itemMargin: 50,
            minItems: 1,
            maxItems: 3,
            start: function(slider){
                slider.resize();
                $('#preloader').removeClass('preloader');
            },
            end: function(slider){

            }
        });
        $('body').on('click', '.yt-card_play', function () {
            var src = $(this).data('src'), $iframe = $('<iframe></iframe>'), $wrap = $(this).closest('.yt-card');
            $iframe.attr('src', src);
            $wrap.prepend($iframe);
            $(this).remove();
            return false;
        });
    });
</script>
</body>